tr,td{
    border: 2px solid black;
    font-weight: 400;
    color: rgb(214, 74, 19);
}
tr:nth-child(even){
    background-color: rgba(21, 180, 228, 0.7);
}
tr:nth-child(odd){
    background-color: #36bde6;
}
th{
    border: 2px solid black;
    color: black;
}
caption{
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    border: 2px solid black;
    color: white;
    background-color: #ff8b0f;
}
table{
    border-collapse:collapse;
    width: 90%;
    margin: auto;
    text-align: center;
}