@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');

body {
    background-color: gray;
    padding: 45px;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

.card {
    width: 198px;
    background-color: white;
    border-radius: 7px;
    padding: 0 0 20px 0;
    margin: 4px;
}

.image {
    padding: 5px;

}

.image img {
    border-radius: 7px;
}

.content {
    padding: 7px 13px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.content p {
    font-size: 9px;
    color: gray;
}

.capsules {
    padding: 0 28px 0 14px;
}

.capsules span {
    border: 1px solid gray;
    padding: 0px 6px;
    border-radius: 7px;
    font-size: 9px;
    font-family: 'Baloo Bhai 2', sans-serif;
}
.button{
    text-align: center;
}
.button button{
    padding: 7px 15px;
    border-radius: 15px;
    background-color: rgb(186, 217, 234);
    color: rgb(50, 121, 208);
    font-size: 10px;
    margin-top: 7px;
    font-weight: bold;
    border: none;
    cursor:pointer;
}
.button button:hover{
    background-color: rgb(95, 186, 246);
    color: rgb(50, 121, 208);

}